@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Molot";
  src: url("/fonts/Molot.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HK-Guise";
  src: url("/fonts/HK Guise SemiBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Handwriting-Regular";
  src: url("/fonts/Handwriting-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Peanut Butter";
  src: url("/fonts/PeanutButter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
